.footer
  background: radial-gradient(ellipse at center, #f6f6f6 20%, #d5d5d5 100%) !important

#login-dropdown-list
  left: -70px;

.text-border-left
  border-left: 4px solid
  padding-left: 10px

.text-border-right
  border-right: 4px solid
  padding-right: 10px

.cursor
  cursor: pointer

/*
  Form Search
*/
.form-search
  input
    color: black !important
    height: 40px
    border-radius: 8px

/*
 Chartist
*/
.ct-label
  font-size: 1.2rem

/*

*/
