<template name="MainLayout">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> Navigation }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            {{> TopNavbar }}

            <!-- Main view  -->
            {{> Template.dynamic template=body }}

            <!-- Footer -->
            {{> Footer }}

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

</template>