<template name="NotFound">
    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-12">
            <div class="text-center m-lg p-lg">
                <h1>Route Not Found</h1>
                <p>
                    You can go back to main page (Dashboard)
                </p>
                <a href="{{pathFor route='dashboard1'}}" class="btn btn-sm btn-primary">Go to Dashboard</a>
            </div>
        </div>
    </div>
</template>