<head>
    <meta charset="utf-8">
    <title>influencer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- TODO add description and keywords -->
    <!--<meta name="description" content="Free Web tutorials">-->
    <!--<meta name="keywords" content="HTML,CSS,XML,JavaScript">-->
    <meta name="author" content="thedatastrategy">

</head>