<template name="Footer">

    <div class="footer" style="padding-top:0;overflow: hidden;">
        <div class="pull-right" style="position:relative;top:6px;">
            <!-- Right Content -->
            <span style="font-size:9px;position:relative;top:6px;left:5px;">powered by</span>
            <a href="http://thedatastrategy.com/" target="_blank">
                <span style=""><img style="width:125px;" src="/img/tds-logo.png"></span>
            </a>
        </div>

        <div>
            <!-- Left Content -->
        </div>
    </div>

</template>