<template name="pageHeading">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{title}}</h2>
            <!--<ol class="breadcrumb">-->
                <!--<li>-->
                    <!--<a href="{{pathFor 'overview'}}">Home</a>-->
                <!--</li>-->
                <!--{{#if category}}-->
                    <!--<li>-->
                        <!--<a>{{category}}</a>-->
                    <!--</li>-->
                <!--{{/if}}-->
                <!--<li class="active">-->
                    <!--<strong>{{title}}</strong>-->
                <!--</li>-->
            <!--</ol>-->
        </div>
    </div>
</template>